@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  background-color: #000;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.App {
  width: 680px;
  margin: 0 auto;
  background-color: #fff;
}

.nav-bar {
  height: 55px;
  background-color: #f55a5a;
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  margin: 0 auto;
}

h3 {
  color: #fff;
  margin-left: 1rem;
  font-weight: 400;
}

h2 {
  color: #2b283a;
}

.card {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  padding: 1rem;
}

.card-info {
  margin-top: 1rem;
}

.card-image {
  width: 30%;
  margin: 0 2rem 1rem 0;
  border-radius: 8px;
}

.card-location {
  letter-spacing: 0.3rem;
  font-weight: 400;
  font-size: 0.775rem;
  text-transform: uppercase;
  color: #2b283a;
}

.card-description {
  line-height: 1.6rem;
  font-size: 0.8rem;
}

.card-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.card-date {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  color: #2b283a;
}

.fa-icon {
  margin-right: 0.6rem;
  color: #f55a5a;
}
